.image{
	background-image: url("../images/2.jpg");
	background-position: center center;
	background-size: cover;
	height: 300px;
}
.container h1{
	color: white;
}
.container p{
	color: white;
}
div.services{
	padding-top: 70px;
}
nav ul li .active{
	color: white;
}
.Secend h1{
	color: red;
}
.aside{
	font-weight: 40px;
}
footer{
	color: white;
	text-align: right;
	position: fixed;
	margin-bottom:50px;
}
.container{
	margin-top:50px;
	z-index: 10px;
}
#try{
	margin-bottom:70px;
}